// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$secondary: #4478a6;
$primary: #deeeed;
// $dark: #241e27;
// $danger: #88a176;
// $warning: #aabd93;
// $light: #d2d6b1;
$nav-back: rgba(107, 176, 215, 0.5);
$main-back: #ffffff;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $cyan-100,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "nav": $nav-back,
  "main": $main-back,
);
$font-family-sans-serif: "Open Sans", sans-serif;

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
