@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
}

#portfolio {
  max-width: 900px;
}

.resume_line {
  width: 100%;
  border-bottom: #000 3px double;
  margin: 1rem 0rem 2rem 0;
}
