<footer class="d-flex flex-column align-items-center bg-primary py-5">
    <h6 class="text-black-50">
        sangbong.park@outlook.com
    </h6>
    <h6 class="text-black-50 mt-4">
        <a href="mailto:sangbong.park@outlook.com"><i class="far fa-envelope fs-3 mx-3 text-dark"></i></a>
        <a href="https://github.com/sangbongpark"><i class="fab fa-github fs-3 mx-3 text-dark"></i></a>
        <a href="https://www.linkedin.com/in/sangbong-park/"><i class="fab fa-linkedin-in fs-3 mx-3 text-dark"></i></a>
    </h6>
</footer>