<nav id="sidebar"
    class="col-md-3 navbar navbar-expand-md navbar-dark bg-primary text-black-50 d-md-flex align-items-md-start pt-md-5">
    <div id="profile" class="container-fluid d-md-flex flex-md-column flex-md-wrap align-items-md-start">
        <a href="/" id="nav_image" class="navbar-brand">
            <img id="me" class="img-fluid rounded-3 mb-3" src="img/me.jpeg" alt="me">
            <h4 class="text-center mb-3">SANGBONG PARK</h4>
            <h6 class="text-center text-secondary">Full Stack & Embedded</h6>
        </a>
        <a href="/" id="brand" class="navbar-brand">
            Sß.PARK
        </a>

        <div class="underline"></div>

        <h6 class="subtitle">Menu</h6>
        <div class="collapse navbar-collapse ms-8" id="navbarCollapse">

            <ul class="navbar-nav d-md-flex flex-md-column">
                <li class="nav-item">
                    <a class="nav-link text-md-start" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-md-start text-info" href="/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-md-start" href="/resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-md-start" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="underline"></div>

        <h6 class="subtitle">SNS</h6>
        <div id="social" class="ms-2">
            <a href="#"><i class="btn btn-primary fas fa-envelope text-secondary"></i></a>
            <a href="#"><i class="btn btn-primary fab fa-github text-secondary"></i></a>
            <a href="#"><i class="btn btn-primary fab fa-linkedin-in text-secondary"></i></a>
        </div>
        <button id="nav_button" class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

</nav>