<%- include('partials/header') -%>
<body class="row bg-secondary">
    <%- include('partials/navigation') -%>
    <main id="contact_main" class="col-sm bg-secondary">
        <div class="container mt-5 mb-5" >
            <div id="home_header">
                <h2 class="text-black-50">Contact</h2>
                <p class="fs-5">  </p>
            </div>
            <div id="portfolio" class="border border-dark rounded-2 p-4">
                <form action="MAILTO:sangbong.park@outlook.com" method="post" enctype="text/plain">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Your Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Mail</label>
                        <input type="email" class="form-control" id="email" placeholder="sangbong@outlook.com">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <textarea class="form-control" id="message" rows="7"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>