<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Sangbong Park | Portfolio</title>
    <!-- <link rel="stylesheet" href="css/bootstrap-reboot.css">
    <link rel="stylesheet" href="css/bootstrap-grid.css">
    <link rel="stylesheet" href="css/bootstrap-utilities.css"> -->

    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    <script src="https://kit.fontawesome.com/35d8654011.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/resume.css">

</head>

<body class="row bg-light">
    <nav id="sidebar"
        class="col-md-3 navbar navbar-expand-md navbar-dark bg-dark text-light d-md-flex align-items-md-start pt-md-5">
        <div id="profile" class="container-fluid d-md-flex flex-md-column flex-md-wrap align-items-md-start">
            <a href="/" id="nav_image" class="navbar-brand">
                <img id="me" class="img-fluid rounded-3 mb-3" src="img/me.jpeg" alt="me">
                <h4 class="text-center mb-3">SANGBONG PARK</h4>
                <h6 class="text-center text-secondary">Full Stack & Embedded</h6>
            </a>
            <a href="/" id="brand" class="navbar-brand">
                Sß.PARK
            </a>

            <div class="underline"></div>


            <h6 class="subtitle">Menu</h6>
            <div class="collapse navbar-collapse ms-8" id="navbarCollapse">

                <ul class="navbar-nav d-md-flex flex-md-column">
                    <li class="nav-item">
                        <a class="nav-link text-md-start" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-md-start" href="/portfolio">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-md-start text-info" href="/resume">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-md-start" href="/contact">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="underline"></div>

            <h6 class="subtitle">SNS</h6>
            <div id="social" class="ms-2">
                <a href="#"><i class="btn btn-dark fas fa-envelope text-secondary"></i></a>
                <a href="#"><i class="btn btn-dark fab fa-github text-secondary"></i></a>
                <a href="#"><i class="btn btn-dark fab fa-linkedin-in text-secondary"></i></a>
            </div>
            <button id="nav_button" class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>

    </nav>
    <main class="col-sm bg-light">
        <div class="container mt-5 mb-5" >
            <div id="home_header">
                <h2 class="text-secondary">RESUME</h2>
                <p class="fs-5">  </p>
            </div>
            <div id="portfolio" class="border border-dark rounded-1 p-4 bg-white">
                <div class="row">
                    <div id="personal" class="col-lg">
                        <h3>Sangbong Park</h3>
                        <h5>Full-Stack & Embedded Engineer</h5>
                        <p>7 years of Software Engineer</p>
                    </div>
                    <div class="col-lg">
                        <ul class="list-unstyled">
                            <li><a class="text-decoration-none" href="#">linkedin/sangbong-park </a></li>
                            <li><a class="text-decoration-none" href="#">gitbut/sangbong-park </a></li>
                            <li><a class="text-decoration-none" href="#">sangbong.park@outlook.com </a></li>
                        </ul>
                    </div>
                </div>

                <div class="resume_line"></div>

                <!-- Summary -->
                <div class="row mb-4">
                    <h5 class="text-center mb-4 fw-bold">SUMMARY</h5>
                    <div class="col-lg">
                        <p>
                            Leaning skills and knowledge such as Javascript, C# and newtwork as full stack developer at Conestoga College and
                            getting GPA overall 3.96 so far. Futhermore, Embedded Software Engineer with seven years of experience in analysis,
                            design, development, testing, commercialization, and implementation of various protocols based on communication
                            processors. Proficient in a variety of platforms and languages. Able to collaborate with teams as well as work
                            independently in remote environments.
                        </p>
                    </div>
                </div>

                <div class="resume_line"></div>
                <!-- Skills & Expertise -->
                <div class="row mb-4">
                    <h5 class="text-center mb-4 fw-bold">SKILLS & EXPERTISE</h5>

                    <div class="col-lg">
                        <p>
                            Javascript, Node.Js, Html, CSS, C#, Embedded System, UMTS (3GPP), Protocol Layer 1, Micro Controller, Testing, C, C++,
                            Perforce, Git, Jira, Share Point, Python, Visual Studio, Trace 32, MS Office
                        </p>
                    </div>
                </div>
                <div class="resume_line"></div>
                <!-- Experience -->
                <div class="mb-4">
                    <h5 class="text-center mb-4 fw-bold">WORKING EXPERIENCE</h5>
                    <!-- SAMSUNG -->
                    <div class="row">
                        <p class="fst-italic fw-bold">Samsung Electronics in South Korea</p>
                        <div id="personal" class="col-lg-4">
                            <p class="">Embedded Software Engineer</p>
                            <p>JAN 2012 - FEB 2019</p>
                        </div>
                        <div class="col-lg">
                            <ul>
                                <li>Controlled a Communication Process (CP)using ARM processor in C/C++.</li>
                                <li>Implemented Bring-up of embedded system software for the new CP.</li>
                                <li>Ported third-party code to work with client’s embedded systems.</li>
                                <li>Analyzed and debugged code for chip certification such as lab (PCT, RCT, RRM) and base station (IOT) testing.</li>
                                <li>Examined logs globally for KPIs such as mobility (INTRA/INTER/IRAT Handover), call performance (call connectivity,
                                CSFB, long duration call), throughput, current measurement, and aging.</li>
                                <li>Performed unit testing, simulation testing, and on-board nightly testing after code changes.</li>
                                <li>Optimized legacy code to improve current consumption and paging performance for idle and long duration calls.</li>
                                <li>Implemented the DSDS (Dual Sim Dual Standby) and DR-DSDS (Dual Radio DSDS) as part of a new feature into the CP.</li>
                                <li>Developed DSDS and DR-DSDS to operate with one resource like rf and CP between rats (2G,3G, and 4G).</li>
                                <li>Designed and implemented enhanced paging performance in case of confliction DRX period between both stacks on DSDS and
                                DR-DSDS.</li>
                                <li>Issued a patent (owned by SAMSUNG) related to sharing hardware resources as part of DR-DSDS.</li>
                                <li>Established tools for running the initial analysis for KPI failures and downloading binaries in C#.</li>
                                <li>Reported daily progress through a bug tracker.</li>
                                <li>Ensured the code quality for multiple-products for commercial products.</li>
                                <li>Documented software designs, source codes, and user guides to clients.</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="resume_line"></div>

                <!-- Certificate -->
                <div class="mb-4">
                    <h5 class="text-center mb-4 fw-bold">CERTIFICATIONS</h5>
                    <!-- SAMSUNG -->
                    <div class="row">
                        <p class="fst-italic fw-bold">Samsung Software Membership in South Korea</p>
                        <div id="personal" class="col-lg-4">
                            <p>JAN 2010 – FEB 2012</p>
                        </div>
                        <div class="col-lg">
                            <ul>
                                <li>Android Controller as part of drone<br>
                                Built an Android-running drone controller with built-in display using Bluetooth and camera</li>
                                <li>Exploration robot<br>
                                Developed and tested a robot with GPS, Bluetooth and Motor based on AVR (Micro controller)
                                Displayed robot’s location on PC using MFC with the Naver map APIs</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="resume_line"></div>

                <!-- Education -->
                <div class="mb-4">
                    <h5 class="text-center mb-4 fw-bold">EDUCATION</h5>
                    <!-- Conestoga -->
                    <div class="row">
                        <p class="fst-italic fw-bold">Conestoga College in Canada</p>
                        <div id="personal" class="col-lg-4">
                            <p class="">Computer Programming and Analyst</p>
                            <p>SEP 2020 - Present</p>
                        </div>
                        <div class="col-lg">
                            <ul>
                                <li>Practiced font-end with HTML, CSS, Javascript, scss and bootstrap</li>
                                <li>Learned Back-end with Node.Js and npm moules</li>
                                <li>Studied newtwork knowledge anc programming languages such as C# and Javascript</li>
                                <li>GPA overall 3.96</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <p class="fst-italic fw-bold">Conestoga College in Canada</p>
                        <div id="personal" class="col">
                            <p class="">English for Academic Studies</p>
                            <p>JAN 2020 – APR 2020</p>
                        </div>
                    </div>
                    <div class="row">
                        <p class="fst-italic fw-bold">Dankook University in South Korea</p>
                        <div id="personal" class="col">
                            <p class="">Bachelor of Engineering in Electronic Engineering</p>
                            <p>MAR 2005 – FEB 2012</p>
                        </div>
                    </div>
                </div>

                <div class="resume_line"></div>
                <!-- ADDITIONAL EXPERIENCE -->
                <div class="mb-4">
                    <h5 class="text-center mb-4 fw-bold">ADDITIONAL EXPERIENCE</h5>
                    <!-- Club -->
                    <div class="row">
                        <p class="fst-italic fw-bold">Club Activities at Dankook University</p>
                        <div id="personal" class="col-lg-4">
                            <p>MAR 2005 – FEB 2012</p>
                        </div>
                        <div class="col-lg">
                            <ul>
                                <li>Used the Micro controller such as Atmega 128 for Clean-up robot, Mouse robot and Line tracer</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="resume_line"></div>
                <!-- Award -->
                <div class="mb-4">
                    <h5 class="text-center mb-4 fw-bold">AWARD</h5>
                    <!-- SAMSUNG -->
                    <div class="row">
                        <p class="fst-italic fw-bold">The grand prize in Samsung Electronics</p>
                        <div id="personal" class="col-lg-4">
                            <p>SEP 2017</p>
                        </div>
                        <div class="col-lg">
                            <ul>
                                <li>Galaxy S 8 Global commercialization.</li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </main>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
</body>

</html>