#home_main {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative; }

.home-text {
  position: absolute;
  top: 30%;
  width: 100%; }
  .home-text p {
    text-align: center; }
  .home-text .line {
    width: 100px;
    border-bottom: #eee 3px solid;
    text-align: center; }
  .home-text #name {
    letter-spacing: 0.5rem; }
  .home-text .btn {
    width: 200px;
    align-self: center; }

a:hover {
  color: white; }
